<footer class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <div class="social-icons">
        <a href="/facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="/twitter"><i class="fab fa-twitter"></i></a>
        <a href="/linked-in"><i class="fab fa-linkedin-in"></i></a>
        <a href="/gmail"><i class="fas fa-envelope"></i></a>
        <a href="/phone"><i class="fas fa-phone"></i></a>
    </div>
    <div class="contact-info">
        <p><i class="fas fa-phone-alt"></i> Phone: +1 (91) 7207391124</p>
        <p><i class="fas fa-envelope"></i> Email: contact@quickfix.com</p>
        <p><i class="fas fa-globe"></i> Website: <a href="http://www.quickfix.com">www.quickfix.com</a></p>
        <p><i class="fas fa-map-marker-alt"></i> Address: Hyderabad Telangana India</p>
        <p><i class="fas fa-comments"></i> Follow Us:
            <a href="#"><i class="fas fa-diamond"></i> Facebook</a>
            <a href="#" style="margin-left: 8px;"><i class="fas fa-diamond"></i> Twitter</a>
            <a href="#" style="margin-left: 8px;"><i class="fas fa-diamond"></i> LinkedIn</a>
        </p>
    </div>
    <div>
        <p style="text-align: center;">&copy; 2025 All Rights Reserved</p> 
    </div>
</footer>