<%- include('partials/header') %>
<body>
    <section class="main-section">
        <div>
            <div class="main-text">Need assistance</div>
            <div class="sub-text">Don't resist to call our professionals</div>
        </div>
        <div class="image-placeholder">
            <img src="/images/image.jpg" alt="image">
        </div>
    </section>
    <div class="carousel">
        <div class="slides">
            <div class="slide">
            <img src="/images/carpenter.jpg" alt="Slide 1">
            </div>
            <div class="slide">
            <img src="/images/cleanre.jpg" alt="Slide 2">
            </div>
            <div class="slide">
            <img src="/images/electrician.jpg" alt="Slide 3">
            </div>
        </div>
        <!-- <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div> -->
    </div>
    <!-- <div class="blank">
        
    </div> -->
</body>
<%- include('partials/footer') %>