<%- include('partials/userheader') %>
<body>
    <div class="container">
        <div class="services-grid">
            <div class="service">
                <a href="/gardener"><img src="/images/gardener.jpg" alt="Gardener"></a>
                <p>Gardener</p>
            </div>
            <div class="service">
                <a href="/keeper"><img src="/images/keeper.jpg" alt="House Keeping"></a>
                <p>House Keeping</p>
            </div>
            <div class="service">
                <a href="/cleaner"><img src="/images/cleanre.jpg" alt="Cleaner"></a>
                <p>Cleaner</p>
            </div>
            <div class="service">
                <a href="/carpenter"><img src="/images/carpenter.jpg" alt="Carpenter"></a>
                <p>Carpenter</p>
            </div>
            <div class="service">
                <a href="/electrician"><img src="/images/electrician.jpg" alt="Electrician"></a>
                <p>Electrician</p>
            </div>
            <div class="service">
                <a href="/tvrepair"><img src="/images/tv_repair.jpg" alt="TV Repair"></a>
                <p>TV Repair</p>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer') %>