body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    padding: 30px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 150px;
  }
  .card {
    display: flex;
    flex-direction: row; /* force row layout */
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  .card-header{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .card-image {
    flex-shrink: 0;
    float: left;
  }
  
  .card-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  

.card-content {
  flex: 1;
  float: right;
}

.card-content p {
  margin: 5px 0;
  font-size: 16px;
}

.card-content p:first-child {
  font-weight: bold;
}
